html {
    background: linear-gradient(rgb(1, 1, 49), black, rgb(1, 1, 49));
    color: aliceblue;
}
a {
    text-decoration: none;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-size: 24px;

    text-decoration: none;
    text-transform: uppercase;
}
:root {
    --pink: hsl(0, 0%, 100%);
    --teal: hsl(0, 100%, 50%);
    --white: hsl(0, 81%, 52%);
  }
  
.body-start {
background: transparent;
padding-top: 240px;
min-block-size: 72dvh;

display: grid;
place-items: center;
}
.body-about {
    background: transparent;
    min-block-size: 72dvh;
    display: grid;
    place-items: center;
}
.a-back {
    padding-right: 65rem;
}
pre {
--selector: var(--pink);
--property: var(--teal);
--punctuation: var(--white);
--undefined: var(--white);

font-size: 3rem;
font-weight: bold;
color: var(--undefined);
background: hsl(0, 0%, 0%);
padding: 2rem;
border-radius: 5rem;

position: relative;

transform-style: preserve-3d;
transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
}

pre > * {
text-shadow: 0 0 0.4em currentColor;
}

pre::before,
pre::after {
content: "";
position: absolute;
border-radius: inherit;
}

/* shadow */
pre::before {
inset: -0.50rem;
border-radius: inherit;
background: linear-gradient(-45deg, hsl(264, 48%, 57%), hsl(280, 42%, 54%), hsl(206, 44%, 55%));
z-index: -1;
transform: translateZ(-25px);
filter: blur(10px);
opacity: 100%;
}

/* gradient thingy */
pre::after {
z-index: -2;
inset: -1rem;
background: linear-gradient(-45deg, hsl(264, 100%, 50%), hsl(280, 100%, 37%), hsl(206, 100%, 29%));
transform: translateZ(-50px);
}

.selector {
color: var(--selector);
}

.property {
color: var(--property);
}

.punctuation {
color: var(--punctuation);
}

.property + .punctuation {
color: var(--property);
}

.click-the-code {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    color: aliceblue;
}
.back {
    padding-top: -10000px;
}
.rights {
    background: transparent;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    color: aliceblue;
}
