a {
    text-decoration: none;
}
:root {
    --pink: hsl(221, 100%, 50%);
    --teal: hsl(150, 99%, 51%);
    --white: hsl(330, 100%, 34%);
  }
  
body {
background: hsl(224, 32%, 12%);
background-image: conic-gradient(
    from 0deg at 50% 50%,
    blue,
    purple,
    purple,
    blue
);
background-blend-mode: multiply;
padding-top: 240px;
min-block-size: 50dvh;
display: grid;
place-items: center;
}

pre {
--selector: var(--pink);
--property: var(--teal);
--punctuation: var(--white);
--undefined: var(--white);

font-size: 3rem;
font-weight: bold;
color: var(--undefined);
background: hsl(210, 48%, 70%);
padding: 2rem;
border-radius: 5rem;

position: relative;

transform-style: preserve-3d;
transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
}

pre > * {
text-shadow: 0 0 0.4em currentColor;
}

pre::before,
pre::after {
content: "";
position: absolute;
border-radius: inherit;
}

/* shadow */
pre::before {
inset: 0.75rem;
border-radius: inherit;
background: hsl(211, 23%, 45%);
z-index: -1;
transform: translateZ(-50px);
filter: blur(15px);
opacity: 0.5;
}

/* gradient thingy */
pre::after {
z-index: -2;
inset: -1rem;
background: linear-gradient(-45deg, rgb(0, 255, 98), rgb(0, 152, 125), rgb(0, 48, 131));
transform: translateZ(-50px);
}

.selector {
color: var(--selector);
}

.property {
color: var(--property);
}

.punctuation {
color: var(--punctuation);
}

.property + .punctuation {
color: var(--property);
}

.click-the-code {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    color: aliceblue;
}

.rights {
    background: hsl(224, 32%, 12%);
    background-image: conic-gradient(
        from 0deg at 50% 50%,
        blue,
        purple,
        purple,
        blue
    );
    background-blend-mode: multiply;
    padding-top: 75px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    color: aliceblue;
}
